@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit select-none text-black mx-auto hover:bg-[#a2a2a2] bg-[#dbdbdb] box_shadow whitespace-nowrap [&>*]:inline-flex;
    }

    .btn-secondary {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-black border-2 text-center w-fit select-none text-white mx-auto hover:bg-[#535353] bg-[#333333] box_shadow whitespace-nowrap [&>*]:inline-flex block;
    }

    .btn-delete {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer text-center w-fit select-none text-white mx-auto hover:bg-[#FF3333] bg-[#E31010] box_shadow;
    }

    .btn-standard {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer border-none text-center w-fit h-fit select-none m-auto hover:bg-[#a2a2a2] box_shadow whitespace-nowrap block;
    }

    .btn-submit {
        @apply !active:bg-[#C6C6C6] border-[#dbdbdb] border-2 text-black mx-auto hover:bg-gray-300 !bg-[#dbdbdb] select-none;
    }

    .btn-cancel {
        @apply active:bg-[#4B4B4B] p-[10px] border-white border-2 text-white mx-auto hover:bg-gray-300 !bg-[#333333] rounded-[15px] box_shadow block;
    }

    .btn-add {
        @apply rounded-[15px] p-[10px] active:translate-x-[5px] active:translate-y-[5px] text-base cursor-pointer border-none text-center w-fit select-none text-white mx-auto hover:bg-[#a2a2a2] bg-[#888888] box_shadow whitespace-nowrap [&>*]:inline-flex [&>img]:ml-5;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    top:0;
    left:0;
    height: 100%;
}

.box_shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.Message {
    background-color: #ECECEC;
    border-radius: 15px;
    color: #2e2e2e;
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    opacity: 0.0;
    position: fixed;
    transform: translateY(-20px);
    transition: opacity 1s ease-in, transform 500ms ease-in !important;
    z-index: 99;
    width: 50%;
    padding: 15px 15px;
    left: 25%;
}

.MessageFadeIn {
    opacity: 1.0;
    transform: translateY(100px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.MessageFadeOut {
    opacity: 0.0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

